.menu_page_container  .drink{
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 300;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
    
}
.drinks_options_mobile{
    display: none;

}

.menu_page_container  .drinks_options h1{
    font-family: "Garet";

font-size: 22px;
font-weight: 900;
line-height: 29px;
letter-spacing: 0em;
padding-left: 40px;

}
.menu_page_container  .selected_drink{
    background-color: #3F691F;
    color: white;
    font-weight: 900;
    letter-spacing: 0.36px;
    
    
}
.menu_page_container .selected_drink a{
    font-family: 'Garet-bold', sans-serif;
    color: white;
    font-weight: 900;
}
.drinks_options{
    width: 26%;
}
.drinks_options ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 3px;
    margin-top: 10px;

}
.drinks_options ul li{
 padding-left: 40px;
 padding-top: 8px;
 padding-bottom: 8px;
}
.drinks_options ul li a{
    text-decoration: none;
    font-family: "Garet";
    font-size: 19px;
}
.drinks_card_container{
    width: 90%;
    height: 100%;
}
.inner_drinks_card_container{
    border-top: 1px solid #3F691F;
    border-left: 1px solid #3F691F;
    ;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-bottom: 200px;
    padding-top: 10px;
    border-radius: 5px;
}
.inner_drinks_card_container .drink_card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0px;
    cursor: pointer;
    margin: 30px auto;
    height: 500px;
    width: 
    279.57px;
    box-shadow: 1px 1px 3px rgba(51, 51, 51, 0.062);
}
.inner_drinks_card_container .drink_card img{
    object-fit: cover;
    width: 100%;
    height: 95%;
    margin: 0px auto;
}

.inner_drinks_card_container .drink_card_title{
    font-family: 'Garet', sans-serif;
    font-size: 20px;
    font-weight: 300;
    line-height: 29px;
    letter-spacing: 0em;

    text-align: center;
}
.drinks_card_container h1{
 font-family: "Garet-bold", sans-serif;
font-size: 30px;
font-weight: 850;
line-height: 52px;
letter-spacing: 0em;
color: #3F691F;
margin-bottom: 4px;
}
/* /please do the responsive for the menu page/ */
@media screen and (max-width: 768px){
    .menu_page_container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        margin-top: 30px !important;
    }
    .menu_page_container .drinks_options{
       display: none;
    }
    .drinks_options_mobile{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        width:100%;
        overflow-x: scroll;
        border-bottom: 1px solid #3F691F !important;
        padding-bottom: 5px;

        
    }
    .drinks_options_mobile ul{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 20px;
        margin-top: 0px;
        overflow-x: scroll;
        width: auto;
        padding: 0px 20px;

    }
    .drinks_options_mobile ul li{
        padding: 7px 10px;
        border-radius: 20px;

    }
    .drinks_options_mobile ul li a{
        text-wrap: nowrap;
        text-transform: capitalize;
        color: #3F691F;
        font-family: "Garet";
font-size: 14px;
font-weight: 300;
line-height: 20px;
letter-spacing: 0em;
text-align: left;

    }


    .menu_page_container .drinks_options h1{
        padding-left: 0px;
    }
    .menu_page_container .inner_drinks_card_container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        align-items: center;
        gap: 20px;
        padding-bottom: 100px;
        border: none;
        
    }
    .menu_page_container h1{
        padding-left: 10px;

    }
    .drinks_card_container h1{
        padding-top: 30px;
        padding-left: 30px;

    }
    .menu_page_container .inner_drinks_card_container .drink_card{
        height: 307px;
        width: 204px;
        margin: 30px auto;
        box-shadow: none;
    }

    .menu_page_container .inner_drinks_card_container .drink_card img{
        width: 100%;
    }
    .menu_page_container .inner_drinks_card_container .drink_card_title{
        font-size: 16px;
    }
    .menu_page_container .inner_drinks_card_container .drink_card_price{
        font-size: 20px;
    }
    .menu_page_container .inner_drinks_card_container .drink_card_description{
        font-size: 20px;
    }
    .menu_page_container .inner_drinks_card_container .drink_card_button{
        font-size: 20px;
    }
 
    
}
@media screen and (max-width: 480px){
    .menu_page_container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        margin-top: 30px !important;
    }
    .menu_page_container .drinks_options{
       display: none;
    }
    .drinks_options_mobile{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        width:100%;
        overflow-x: scroll;
        border-bottom: 1px solid #3F691F !important;
        padding-bottom: 5px;

        
    }
    .drinks_options_mobile ul{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 20px;
        margin-top: 0px;
        overflow-x: scroll;
        width: auto;
        padding: 0px 20px;

    }
    .drinks_options_mobile ul li{
        padding: 7px 10px;
        border-radius: 20px;

    }
    .drinks_options_mobile ul li a{
        text-wrap: nowrap;
        text-transform: capitalize;
        color: #3F691F;
        font-family: "Garet";
font-size: 14px;
font-weight: 300;
line-height: 20px;
letter-spacing: 0em;
text-align: left;

    }


    .menu_page_container .drinks_options h1{
        padding-left: 0px;
    }
    .menu_page_container .inner_drinks_card_container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        align-items: center;
        gap: 20px;
        padding-bottom: 100px;
        border: none;
        
    }
    .menu_page_container h1{
        padding-left: 10px;

    }
    .drinks_card_container h1{
        padding-top: 30px;
        padding-left: 30px;

    }
    .menu_page_container .inner_drinks_card_container .drink_card{
        height: 237px;
        width: 150px ;
        margin: 30px auto;
        box-shadow: none;
    }

    .menu_page_container .inner_drinks_card_container .drink_card img{
        width: 100%;
    }
    .menu_page_container .inner_drinks_card_container .drink_card_title{
        font-size: 16px;
    }
    .menu_page_container .inner_drinks_card_container .drink_card_price{
        font-size: 20px;
    }
    .menu_page_container .inner_drinks_card_container .drink_card_description{
        font-size: 20px;
    }
    .menu_page_container .inner_drinks_card_container .drink_card_button{
        font-size: 20px;
    }
    
}